@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Social2.Models.SquareResult
<html>
    <head>

    </head>
    <body>
        <h1>
            @Model.Val
        </h1>
    </body>
</html>